/* =============
    Section 2
============= */

#section-2 {
    display: grid;
    grid-template-columns: 40px auto 40px;
    grid-template-areas: ". section-2 .";

    >div{
        grid-area: section-2;

        #section-2-first {
            text-align: center;
        }
        h2 {
            color: black;
            font-family: 'Comfortaa', cursive;
            font-size: rem-calc(55);
            font-weight: 700;
            line-height: rem-calc(55)
        }

        #section-2-last {
            text-align: center;
        }
        p {
            color: black;
            font-family: 'Comfortaa', cursive;
            font-size: rem-calc(35);
            font-weight: 500;
            line-height: rem-calc(35)
        }
    }
}